In [8]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('mailchimp.db')
cursor = conn.cursor()

from sqlalchemy import create_engine
engine = create_engine('sqlite:///mailchimp.db', echo=True)

In [9]:
sql = {}
sql['createMainDatabaseTable'] = \
    """
    CREATE TABLE CONTACT_LIST (
        UID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        FULL_NAME Text,
        FIRST_NAME Text,
        LAST_NAME Text,
        COMPANY TEXT NOT NULL,
        EMAIL TEXT NOT NULL,
        PHONE TEXT,
        TAG TEXT,
        COMPANY_SIZE INTEGER,
        BOUNCED TEXT
    )
    """

sql['createUnsubDatabaseTable'] = \
    """
    CREATE TABLE UNSUB (
        EMAIL TEXT,
        FIRST_NAME TEXT,
        LAST_NAME TEXT,
        ADDRESS TEXT,
        PHONE TEXT,
        COMPANY TEXT,
        FUll_NAME TEXT,
        COMPANY_SIZE INTEGER,
        MEMBER_RATING TEXT,
        REASON TEXT,
        DESCRIPTION TEXT,
        CAMPAIGN TEXT
    )
    """

sql['createUnOpenDatabaseTable'] = \
    """
    CREATE TABLE UNOPEN (
        EMAIL TEXT,
        FIRST_NAME TEXT,
        LAST_NAME TEXT,
        ADDRESS TEXT,
        PHONE TEXT,
        COMPANY TEXT,
        FUll_NAME TEXT,
        COMPANY_SIZE INTEGER,
        MEMBER_RATING TEXT,
        CAMPAIGN TEXT
    )
    """

sql['createBounceDatabaseTable'] = \
    """
    CREATE TABLE BOUNCE (
        EMAIL TEXT,
        FIRST_NAME TEXT,
        LAST_NAME TEXT,
        ADDRESS TEXT,
        PHONE TEXT,
        COMPANY TEXT,
        FUll_NAME TEXT,
        COMPANY_SIZE INTEGER,
        MEMBER_RATING TEXT,
        BOUNCE_TYPE TEXT,
        CAMPAIGN TEXT
    )
    """

sql['createClickDatabaseTable'] = \
    """
    CREATE TABLE CLICKED (
        EMAIL TEXT,
        FIRST_NAME TEXT,
        LAST_NAME TEXT,
        ADDRESS TEXT,
        PHONE TEXT,
        COMPANY TEXT,
        FUll_NAME TEXT,
        COMPANY_SIZE INTEGER,
        MEMBER_RATING TEXT,
        BOUNCE_TYPE TEXT,
        URL TEXT,
        CLICKS INTEGER,
        CAMPAIGN TEXT
    )
    """

sql['createOpenDatabaseTable'] = \
    """
    CREATE TABLE OPEN (
        EMAIL TEXT,
        FIRST_NAME TEXT,
        LAST_NAME TEXT,
        ADDRESS TEXT,
        PHONE TEXT,
        COMPANY TEXT,
        FUll_NAME TEXT,
        COMPANY_SIZE INTEGER,
        MEMBER_RATING TEXT,
        OPENS INTEGER,
        CAMPAIGN TEXT
    )
    """

sql['createSentDatabaseTable'] = \
    """
    CREATE TABLE SENT (
        EMAIL TEXT,
        FIRST_NAME TEXT,
        LAST_NAME TEXT,
        ADDRESS TEXT,
        PHONE TEXT,
        COMPANY TEXT,
        FUll_NAME TEXT,
        COMPANY_SIZE INTEGER,
        MEMBER_RATING TEXT,
        CAMPAIGN TEXT
    )
    """

In [10]:
#execute create statements
"""
for k,v in sql.items():
    cursor.execute(v)
    conn.commit()
"""

'\nfor k,v in sql.items():\n    cursor.execute(v)\n    conn.commit()\n'

## Send data from dataframe into DB file

In [11]:
contacts = pd.read_csv('contacts.csv', header=0)
contacts.set_index('UID', inplace=True)
contacts.head()

,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED
UID,,,,,,,,,
1,AAKARSHAN HAR HARISH KATHURIA KATHURIA,AAKARSHAN,KATHURIA,RISE UP REAL ESTATE,aakarshan17@gmail.com,NaN,NaN,6,live
2,AALIYAH HAZARI KHAN,AALIYAH,KHAN,F A M REAL ESTATE BROKER L.L.C (BRANCH),aaliyah@famproperties.com,42775516,NaN,139,live
3,AALIYAH WAQAS MIRZA WAQAS HASAN MIRZA,AALIYAH,MIRZA,EV REAL ESTATE BROKERAGE L.L.C,aaliyah.mirza@engelvoelkers.com,43981338,OLD_2,107,live
4,AAMIR ALI ALTAF HUSSAIN,AAMIR,HUSSAIN,FOOT PRINT REAL ESTATE BROKER,amir@fphomefinders.com,44308205,OLD_2,9,live
5,AAMIR NASEEM KHAN NASEEM HASSAN KHAN,AAMIR,KHAN,UNIFIED REAL ESTATE BROKER L.L.C,aamir@unified.llc,41234567,OLD_3,2,live

In [12]:
#contacts.to_sql('Contact_List', con=engine,index=True,  if_exists='append')

In [16]:
#splite3 query exuction
#cursor.execute("SELECT * FROM CONTACT_LIST WHERE TAG IS NULL limit 10")
#cursor.fetchall()