In [3]:
import sqlite3
import pandas as pd
import os
conn = sqlite3.connect('mailchimp_test.db')
cursor = conn.cursor()

In [9]:
#SET TAG 
TAG = 'JAN_25'

# FIND 1500 CONTACT THAT HAVE NOT YET BEEN IMPORTED INTO MAILCHIMP
query ="""
SELECT * 
FROM CONTACT_LIST 
WHERE MAILCHIMP_IMPORT IS NULL 
LIMIT 1500
"""

In [5]:
#sqalchemy query execution
top = pd.read_sql_query(query, conn)
top.head()

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,1,AAKARSHAN HAR HARISH KATHURIA KATHURIA,AAKARSHAN,KATHURIA,RISE UP REAL ESTATE,aakarshan17@gmail.com,None,None,6,live,None,None
1,3,AALIYAH WAQAS MIRZA WAQAS HASAN MIRZA,AALIYAH,MIRZA,EV REAL ESTATE BROKERAGE L.L.C,aaliyah.mirza@engelvoelkers.com,43981338,OLD_2,107,live,None,None
2,4,AAMIR ALI ALTAF HUSSAIN,AAMIR,HUSSAIN,FOOT PRINT REAL ESTATE BROKER,amir@fphomefinders.com,44308205,OLD_2,9,live,None,None
3,5,AAMIR NASEEM KHAN NASEEM HASSAN KHAN,AAMIR,KHAN,UNIFIED REAL ESTATE BROKER L.L.C,aamir@unified.llc,41234567,OLD_3,2,live,None,None
4,6,AAMIR NOOR MUHAMMAD,AAMIR,MUHAMMAD,AEON & TRISL REAL ESTATE BROKER L.L.C,aamirnoor@aeontrisl.com,43957550,OLD_2,32,live,None,None

In [6]:
#CONVERT THE EMAIL COLUMN INTO A STRING TO SQL PROCESSING
email_list = top['EMAIL']
email_string= '('
for i in range(len(email_list)):
    if i < len(email_list)-1:
        email_string = email_string + f"'{email_list[i]}',"
    else:
        email_string = email_string + f"'{email_list[i]}'"
email_string= email_string + ")"
print(email_string[:1000])

('aakarshan17@gmail.com','aaliyah.mirza@engelvoelkers.com','amir@fphomefinders.com','aamir@unified.llc','aamirnoor@aeontrisl.com','aarondubaibusiness@gmail.com','aaron@allsoppandallsopp.com','aaron.thomson@espace.ae','aarti@springboksrealestate.com','aasish.thomas@cavendishmaxwell.com','a.a@gmail.com','gm@skyloofglobal.com','a.ghaith@algargawigroup.com','directsolution902@gmail.com','abdul@dubaipremierestates.com','abdohm76@yahoo.com','abdtaife@yahoo.com','info@dejavuproperties.com','abdelrahman@manazelalwadi.com','abdesatar@firsthomesdubai.com','nasserdehghan@gmail.com','ahad@nextlevelrealestate.ae','azeez@passionpropertiesdubai.com','info@csre.ae','gaffar.cosmos@gmail.com','ghanisaya@yahoo.com','haseeb@drivenproperties.com','majeedbm1979@gmail.com','majeed@tcrbroker.com','majid@classicproperties.ae','multihre@eim.ae','abduldubai786@gmail.com','abdulnajeeb.mohammed@engelvoelkers.com','saeed@mercurydxb.com','abdulrahim.alansari@gmail.com','tahmasebianomid@gmail.com','a.rehman@remdubai.

In [7]:
#VALIDATION SQL THAT USES THE EMAIL_STRING SQL TO VERIFY UPDATES
filter = pd.read_sql_query(f"SELECT * FROM CONTACT_LIST WHERE EMAIL IN {email_string} limit 10", conn)
filter

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,1,AAKARSHAN HAR HARISH KATHURIA KATHURIA,AAKARSHAN,KATHURIA,RISE UP REAL ESTATE,aakarshan17@gmail.com,None,None,6,live,None,None
1,3,AALIYAH WAQAS MIRZA WAQAS HASAN MIRZA,AALIYAH,MIRZA,EV REAL ESTATE BROKERAGE L.L.C,aaliyah.mirza@engelvoelkers.com,43981338,OLD_2,107,live,None,None
2,4,AAMIR ALI ALTAF HUSSAIN,AAMIR,HUSSAIN,FOOT PRINT REAL ESTATE BROKER,amir@fphomefinders.com,44308205,OLD_2,9,live,None,None
3,5,AAMIR NASEEM KHAN NASEEM HASSAN KHAN,AAMIR,KHAN,UNIFIED REAL ESTATE BROKER L.L.C,aamir@unified.llc,41234567,OLD_3,2,live,None,None
4,6,AAMIR NOOR MUHAMMAD,AAMIR,MUHAMMAD,AEON & TRISL REAL ESTATE BROKER L.L.C,aamirnoor@aeontrisl.com,43957550,OLD_2,32,live,None,None
5,8,AARON AINSLIE GRIEVE,AARON,GRIEVE,LUXFOLIO REAL ESTATE BROKERS L.L.C,aarondubaibusiness@gmail.com,44087000,OLD_1,22,live,None,None
6,11,AARON PARKINS,AARON,PARKINS,ALLSOPP & ALLSOPP REAL ESTATE BROKER L.L.C,aaron@allsoppandallsopp.com,44294444,OLD_3,103,live,None,None
7,12,AARON SEAN MCKENZIE THOMSON,AARON,THOMSON,ESPACE REAL ESTATE BROKER,aaron.thomson@espace.ae,43069999,OLD_1,88,live,None,None
8,13,Aarti Arora,Aarti,Arora,SPRINGBOKS REAL ESTATE BROKER L.L.C,aarti@springboksrealestate.com,42428067,OLD_3,5,live,None,None
9,17,AASISH THOMAS MAMMEN THOMAS,AASISH,THOMAS,CAVENDISH MAXWELL REAL ESTATE BROKER L.L.C,aasish.thomas@cavendishmaxwell.com,44539525,OLD_3,3,live,None,None

In [8]:
#CONVERT THE EMAIL_LIST INTO A LIST OF TUPLES FOR EXECUTION BY EXECUTMANY METHOD
stmt = [(i,) for i in email_list]
print(stmt[:10])

[('aakarshan17@gmail.com',), ('aaliyah.mirza@engelvoelkers.com',), ('amir@fphomefinders.com',), ('aamir@unified.llc',), ('aamirnoor@aeontrisl.com',), ('aarondubaibusiness@gmail.com',), ('aaron@allsoppandallsopp.com',), ('aaron.thomson@espace.ae',), ('aarti@springboksrealestate.com',), ('aasish.thomas@cavendishmaxwell.com',)]

In [29]:
#EXECTUMANY
cursor.executemany(f"UPDATE CONTACT_LIST SET TAG = '{TAG}', MAILCHIMP_IMPORT='Y' WHERE EMAIL = ?",stmt)
conn.commit()

In [30]:
#VALIDATION SQL THAT USES THE EMAIL_STRING SQL TO VERIFY UPDATES
filter = pd.read_sql_query(f"SELECT * FROM CONTACT_LIST WHERE EMAIL IN {email_string} limit 10", conn)
filter

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,2,AALIYAH HAZARI KHAN,AALIYAH,KHAN,F A M REAL ESTATE BROKER L.L.C (BRANCH),aaliyah@famproperties.com,42775516,JAN_25,139,live,Y,None
1,7,AAMIR RAZA MUHAMMAD AKARM,AAMIR,AKARM,CIVIL ARCH REAL ESTATE BROKERS,aranjha333@gmail.com,43713401,JAN_25,1,live,Y,None
2,9,AARON KEITH PARTON,AARON,PARTON,DACHA REAL ESTATE,aaron@dacha.ae,97126666576,JAN_25,52,live,Y,None
3,10,AARON NILE DUNBAR,AARON,DUNBAR,HOUSE HUNTERS REAL ESTATE BROKERS L.L.C,aaron@househuntersdubai.com,504100149,JAN_25,27,live,Y,None
4,14,AARTI DEVGUN SHARMA,AARTI,SHARMA,ONE STOP REALTY REAL ESTATE,aarti.devgun@gmail.com,544303555,JAN_25,3,live,Y,None
5,15,AASIM AMINUDDIN AMIN UDDIN SHEIKASON,AASIM,SHEIKASON,TEXTURE PROPERTIES L.L.C,asim@textureproperties.com,45897927,JAN_25,14,live,Y,None
6,16,AASIM RADY ELSAID MOHAMMED HASSANIEN,AASIM,HASSANIEN,TIMI PROPERTY,aasim.rady@timi.ae,44528859,JAN_25,5,live,Y,None
7,18,ABAYOMI FESTUS IDOWU,ABAYOMI,IDOWU,OUTLOOK PROPERTIES,yomi@outlookproperties.ae,504100149,JAN_25,4,live,Y,None
8,19,ABBAS ALA HAMID,ABBAS,HAMID,HOMES 4 U REAL ESTATE BROKER,abbas@homes4udubai.ae,0,JAN_25,3,live,Y,None
9,21,ABBAS MORTEZAGHOLI RAJAEI,ABBAS,RAJAEI,MARAMES REAL ESTATE BROKERS,mr.rje2020@gmail.com,0,JAN_25,1,live,Y,None

In [31]:
#pull contacts that were updated
contacts = pd.read_sql_query(f"SELECT * FROM CONTACT_LIST WHERE EMAIL IN {email_string}", conn)
contacts.head()

,UID,FULL_NAME,FIRST_NAME,LAST_NAME,COMPANY,EMAIL,PHONE,TAG,COMPANY_SIZE,BOUNCED,MAILCHIMP_IMPORT,CLICKUP_IMPORT
0,2,AALIYAH HAZARI KHAN,AALIYAH,KHAN,F A M REAL ESTATE BROKER L.L.C (BRANCH),aaliyah@famproperties.com,42775516,JAN_25,139,live,Y,None
1,7,AAMIR RAZA MUHAMMAD AKARM,AAMIR,AKARM,CIVIL ARCH REAL ESTATE BROKERS,aranjha333@gmail.com,43713401,JAN_25,1,live,Y,None
2,9,AARON KEITH PARTON,AARON,PARTON,DACHA REAL ESTATE,aaron@dacha.ae,97126666576,JAN_25,52,live,Y,None
3,10,AARON NILE DUNBAR,AARON,DUNBAR,HOUSE HUNTERS REAL ESTATE BROKERS L.L.C,aaron@househuntersdubai.com,504100149,JAN_25,27,live,Y,None
4,14,AARTI DEVGUN SHARMA,AARTI,SHARMA,ONE STOP REALTY REAL ESTATE,aarti.devgun@gmail.com,544303555,JAN_25,3,live,Y,None

In [34]:
#send to csv
contacts.to_csv(path_or_buf=os.getcwd()+'/db_to_mailchimp.csv')

In [35]:
cursor.close()